---

const dateFormat = new Intl.DateTimeFormat('es-ES', {
 year: 'numeric',
 month: 'long',
 day: 'numeric',
});

interface Props {
  title: string;
  author: string;
  imageUrl: string;
  date: Date;
  tags: string[];
  fragment?: string;
  link: string
}

const props = Astro.props;
---

<a
  class="flex flex-col md:flex-row gap-5 p-3 border rounded-md border-neutral-700 bg-neutral-900 md:max-w-[--max-post-card-width] w-full hover:brightness-125 hover:ring-1 hover:ring-[--primary-color] hover:-translate-y-2 transition-all cursor-pointer"
  href={props.link}
  >
  <img
    src={props.imageUrl}
    alt=""
    class="rounded-md md:w-72 aspect-video"
  />
  <div class="flex flex-col gap-2">
    <h3 class="text-3xl font-bold">{props.title}</h3>
    <div><span class="text-[--primary-color]">🧑 {props.author}</span> | 📅 {dateFormat.format(props.date)}</div>
    <div class="flex gap-1">
      {props.tags.map((tag) => <span class="text-black bg-white ">#tag1</span>)}
    </div>
    <div>
      {props.fragment}
    </div>
  </div>
</div>
